#my{
    background-color: #1abc9c;
    text-align: center;
    padding: 50px;
    margin: 0;
}

nav{
    background-color: #545754;
    overflow: hidden;
}

nav a{
    color: rgb(5, 33, 39);
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    float: left;
}

nav a:hover{
    background-color: #ddd;
}

table {
    border-collapse: collapse;
}

table th , td{
    border: 1px solid #333;

}

#container{
    display: flex;
}

#container_left{
    flex: 40%;
    background-color: #f1f1f1;
    padding: 10px 12px;
}

#container_right{
    flex: 60%;
    padding: 10px 12px;
}

#end{
    padding: 12px 20px;
    background-color: #545754;
    color: white;
    text-align: center;
}